[submodule "team-dev-onboarding/example"]
	path = team-dev-onboarding/example
	url = https://github.com/gdsc-osaka/react-example.git
[submodule "flutter-workshop/template"]
	path = flutter-workshop/template
	url = https://github.com/gdsc-osaka/flutter-workshop.git
[submodule "flutter-workshop/example"]
	path = flutter-workshop/example
	url = https://github.com/gdsc-osaka/flutter-workshop-example.git
[submodule "flutter-workshop/template-cloudshell"]
	path = flutter-workshop/template-cloudshell
	url = https://github.com/gdsc-osaka/flutter-workshop-cloudshell.git
[submodule "create-multi-agent/repos/example"]
	path = create-multi-agent/repos/example
	url = https://github.com/gdsc-osaka/create-multi-agent-example
[submodule "create-multi-agent/repos/template"]
	path = create-multi-agent/repos/template
	url = https://github.com/gdsc-osaka/customer-support-agent.git
[submodule "honojs-backend/repos/template"]
	path = honojs-backend/repos/template
	url = https://github.com/gdg-jp/honojs-backend-template.git
[submodule "honojs-backend/repos/example"]
	path = honojs-backend/repos/example
	url = https://github.com/gdg-jp/honojs-backend-example.git
	
